# Raw sequencing files
data/raw/

# Large alignment files
*.sam
*.bam
*.bai

# Individual FastQC outputs
results/qc/fastqc_raw/

# Log files
logs/*.log

# Reference genome files
reference/

# Temporary files
*.tmp
.DS_Store

# Large generated count matrix
results/counts/gene_counts.txt
